.body {
    height: auto;
    background-color: #635B5B;
    padding: 20px;
    border-radius: 8px;
    color: white;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.body .left-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    min-width: 250px;
    box-sizing: border-box;
}

.body .left-section div {
    width: 95%;
    box-sizing: border-box;
}

.body .right-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    min-width: 250px;
    box-sizing: border-box;
}

.right-section a {
    text-decoration: none;
    color: inherit;
}

.body .left-section h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    border-bottom: 1px solid #e3b9a3;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #FFC4AC;
}

.body .left-section .opleidingen,
.body .left-section .vaardigheden,
.body .left-section .talenkennis {
    background-color: rgba(255, 196, 172, 0.1);
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

ul li {
    list-style-type: disc;
}

.talenkennis .taal {
    margin-bottom: 10px;
}

.talenkennis .taal span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.talenkennis .bar {
    width: 100%;
    height: 12px;
    background-color: rgba(255, 196, 172, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.talenkennis .bar-level {
    height: 100%;
    background-color: #FFC4AC;
    border-radius: 8px 0 0 px;
}

.body .right-section h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: #4d4646;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #FFC4AC;
}

.body .right-section span {
    font-weight: lighter;
    font-size: 0.9rem;
}

.location {
    margin-top: -20px;
    font-size: 0.9rem;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
    background-color: #4d4646;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #FFC4AC;
    width: 100%;
    text-align: center;
}

.body .right-section .btn {
    padding: 8px 16px;
    background-color: #FFC4AC;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    color: #4d4646;
    text-align: center;
}

/* Portfolio */
.portfolio span {
    font-weight: lighter;
    font-size: 1rem;
}

.portfolio {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.portfolio-images img {
    width: 20%;
    height: auto;
    border-radius: 8px;
    min-width: 150px;
}

.portfolio h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: #4d4646;
    margin-bottom: 0px;
    color: #FFC4AC;
    width: 100%;
    text-align: center;
    border-bottom: #FFC4AC solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

button {
    padding: 8px 16px;
    background-color: #FFC4AC;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: #4d4646;
}

.bestellingen {
    display: flex;
    justify-content: center;
}

.bestellingen img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.bestellingen img:hover {
    transform: scale(1);
}

/* Projects */

.project-section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    line-height: 1.6;
    background-color: #565050;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.project-section:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.project-section p {
    margin: 8px 0;
}

.project-section h3 {
    margin-top: 20px;
    margin-bottom: 8px;
}

.project-section h1 {
    font-size: 1.6rem;
    color: #FFC4AC;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #FFC4AC;
}

.project-section ul {
    margin: 0 0 10px 20px;
    padding: 0;
}

.project-section li {
    margin-bottom: 5px;
}

.project-section a {
    margin-left: 20px;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 500;
    transition: color 0.2s;
}

.project-section a:hover {
    color: #FFB07C;
}

/* Carousel */

.carousel-wrapper {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.carousel-slide img {
    height: 700px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.carousel-slide video {
    height: 700px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.carousel-slide img:hover {
    transform: scale(1);
}

.carousel-wrapper .slick-prev,
.carousel-wrapper .slick-next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.carousel-wrapper .slick-prev {
    left: 250px;
}

.carousel-wrapper .slick-next {
    right: 260px;
}

.carousel-wrapper .slick-prev:before,
.carousel-wrapper .slick-next:before {
    font-size: 30px;
    color: #FFC4AC;
}